Name : BAHATAM AMULYA

Email : bamulya528@gmail.com

Contact : 6301660314

College : G.Pullaiah College Of Engineering And Technology,Kurnool,Andhra Pradesh.

1. A company decided to give bonus of 5% to employee if his/her year of service is 
   more than 5 years. Ask user for their salary and year of service and print the net 
   bonus amount

Test case 1:

In [2]:
service=int(input())
salary=int(input())
bonus = 5
if service > 5:
    net_bonus = (bonus/100) * salary
else: 
    net_bonus = 0
print(net_bonus)

4
20000
0

Test case 2:

In [3]:
service=int(input())
salary=int(input())
bonus = 5
if service > 5:
    net_bonus = (bonus/100) * salary
else: 
    net_bonus = 0
print(net_bonus)

6
20000
1000.0

2. A school has following rules for grading system:
   a. Below 25 - F
   b. 25 to 45 - E
   c. 45 to 50 - D
   d. 50 to 60 - C
   e. 60 to 80 - B
   f. Above 80 - A
   Ask user to enter marks and print the corresponding grade

In [4]:
marks = int(input("enter marks: "))
if marks < 25:
    print("F")
elif marks >= 25 and marks <= 45 :
    print("E")
elif marks >= 45 and marks <= 50 :
    print("D")
elif marks >= 50 and marks <= 60 :
    print("C")
elif marks >= 60 and marks <= 80 :
    print("B")
else:
    print("A")

enter marks: 77
B

3. A student will not be allowed to sit in exam if his/her attendence is less than 75%.
   Take following input from user
   Number of classes held
   Number of classes attended.
   And print percentage of class attended 
   Is student is allowed to sit in exam or not.

In [5]:
classes_held=int(input("enter no.of classes held : "))
classes_attended=int(input("enter no.of classes attended : "))
attendence = (classes_attended/classes_held) * 100
print(attendence)
if attendence < 75:
    print("He/she is not allowed to sit in exam")
else:
    print("He/she is allowed to sit in exam")

enter no.of classes held : 70
enter no.of classes attended : 35
50.0
He/she is not allowed to sit in exam

4. Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using 
   following rules print their place of service.
   if employee is female, then she will work only in urban areas.
   if employee is a male and age is in between 20 to 40 then he may work in anywhere
   if employee is male and age is in between 40 t0 60 then he will work in urban areas only.
   And any other input of age should print "ERROR"

In [6]:
age=int(input("enter age:"))
sex=input("enter sex: M or F")
marital_status=input("enter marital status:Y or N")
if sex == "F" :
    print("she will work only in urban areas")
elif sex == "M":
    if age >=20 and age<=40 :
        print("he may work in anywhere")
    if age >=40 and age <=60 :
        print("he will work in urban areas only")
else:
    print("ERROR")

enter age:20
enter sex: M or FM
enter marital status:Y or NN
he may work in anywhere

5. Take 10 integers from keyboard using loop and print their average value on the 
   screen.

In [7]:
n=10
sum=0
for i in range(n):
    a=int(input())
    sum+=a
average = sum/n
print("average value:",average)

1
2
3
4
5
6
7
8
9
10
average value: 5.5

6. Write a program to calculate factorial of a number.

In [10]:
n=int(input())
fact=1
for i in range(1,n+1):
    fact *= i
print(fact)

7
5040

7. Take integer inputs from user until he/she presses q ( Ask to press q to quit after 
   every integer input ). Print average and product of all numbers.

In [11]:
count=0
sum=0
prod=1
while True:
    n=input('enter a number : ')
    if n == 'q':
        break
    n=int(input())
    sum += n
    prod *= n
    count+=1
print("Average : ",sum/count)
print("Product : ",prod)

enter a number : 5
7
enter a number : 8
9
enter a number : q
Average :  8.0
Product :  63

8. A three digit number is called Armstrong number if sum of cube of its digit is equal to 
   number itself.
   E.g.- 153 is an Armstrong number because (13)+(53)+(33) = 153.
   Write all Armstrong numbers between 100 to 500.

In [12]:
a=int(input("enter lower range : "))  
b=int(input("enter upper range : "))  
for i in range(a,b+1):
    temp = i
    sum=0
    order = len(str(i))
    while temp>0:
        dig = temp%10
        sum += dig ** order
        temp //= 10
    if i == sum:
        print(i)

enter lower range : 100
enter upper range : 500
153
370
371
407

9. Write a program to find the length of the string "refrigerator" without 
   using len function.

In [1]:
s="refrigerator"
count=0
for i in s:
    count+=1
print(count)

12

10. Write a program that takes your full name as input and displays the abbreviations of 
    the first and middle names except the last name which is displayed as it is. For 
    example, if your name is Robert Brett Roser, then the output should be R.B.Roser

In [2]:
s=input()
l=s.split()
print(l[0][0]+'.'+l[1]+'.')

Bahatam Amulya
B.Amulya.